@import "@/styles/var.scss";
.section-flower {
  width: 100%;
  position: relative;
  margin: auto;
  background: #fff;
  overflow: hidden;
  background: #fadaca;
  padding: 0 0 75px 0;
  .text-area {
    width: 100%;
    position: relative;
    padding-left: 0px;
    padding-top: 1%;
    display: block;
    margin: auto;
    z-index: 1;
    h4 {
      color: $-c-black;
      font-weight: 300;
      text-align: center;
      margin-top: 10%;
      position: relative;
      z-index: 2;
    }
    .h5 {
      font-weight: 200;
      line-height: 2.5;
      color: $-c-black;
      text-align: center;
      position: relative;
      z-index: 2;
    }
    p {
      font-size: 15px;
      font-weight: 400;
      position: relative;
      z-index: 2;
      text-align: center;
      margin-top: 20px;
      opacity: 0.6;
      padding: 0 15px;
      span {
        color: $-c-red;
        font-weight: 500;
      }
    }
    .cans {
      width: 100%;
      max-width: 600px;
      margin: auto;
      padding-top: 60px;
      .can {
        width: 300px;
        height: 300px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        > span {
          background: #efedef;
          border-radius: 100%;
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          animation: doki 5s linear infinite;
          z-index: 1;
        }
        &.right {
          left: 200px;
          @media (max-width: 500px) {
            left: 50%;
            transform: translateX(-50%);
          }
          > span {
            animation-name: doki2;
            width: 80%;
            height: 80%;
          }
        }
      }
    }
  }
  .motion-area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
    svg {
      animation: rotate90 8s linear infinite;
      position: absolute;
    }
    .flower1_1 {
      top: 0;
      left: 0;
    }
    .flower2_2 {
      top: 50%;
      left: 70%;
    }
    .flower3 {
      bottom: 0;
      right: 0;
    }
    .flower1_2 {
      top: 40%;
      left: 15%;
    }
    .flower1_3 {
      top: 45%;
      right: 10%;
    }
    .flower4 {
      bottom: 0;
      left: 11%;
    }
    .flower5 {
      top: 10%;
      right: 10%;
    }
    .flower6 {
      bottom: -390px;
      right: 5.5%;
      animation: rotate90 220s linear infinite;
      @media (max-width: 500px) {
        bottom: -65%;
      }
    }
    .flower7 {
      top: -120px;
      left: 22%;
      animation: rotate90 100s linear infinite;
      @media (max-width: 500px) {
        bottom: -28%;
      }
    }
  }
}
@keyframes doki {
  70% {
    transform: scale(0.9);
  }
}
@keyframes doki2 {
  30% {
    transform: scale(0.9);
  }
}
@keyframes rotate90 {
  0% {
    transform: rotate(90deg);
  }
  100% {
      transform: rotate(450deg);
  }
}
.section-liker {
  width: 100%;
  margin: auto;
  background: url(/images/bg/minipattern2.jpg);
  padding-top: 50px;
  position: relative;
  padding-bottom: 100px;
  > div:first-of-type {
    width: 60%;
    position: relative;
    padding-left: 0px;
    padding-top: 1%;
    display: block;
    margin: auto;
    padding: 0;
    @media (max-width: 700px) {
      width: 100%;
    }
    .section-liker__title {
      padding-top: 1%;
      padding-left: 15px;
      max-width: 770px;
      .title-02 {
        // font-size: 36px;
        color: #0A37A0;
        @media (max-width: 500px) {
          // font-size: 32px;
        }
        button {
          color: #0A37A0;
          font-size: 30px;
          font-weight: 800;
          line-height: 1.5;
          span {
            background: #0A37A0;
            color: #c9c9c9;
            font-size: inherit;
          }
        }
      }
    }
    .likers {
      margin-top: 30px;
      padding-bottom: 50px;
      .likers_inner {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 770px;
        margin: auto;
        @media (max-width: 800px) {
          justify-content: center;
        }
        > button {
          display: block;
          width: 60px;
          height: 60px;
          border-radius: 100%;
          overflow: hidden;
          margin: 5px;
          .mini_profile {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
          }
        }
      }
      .like_btns {
        padding-top: 20px;
        display: flex;
        align-items: center;
        .like_btn {
          display: inline-block;
          width: 50px;
          height: 50px;
          > img {
            display: block;
            width: 100%;
            height: 100%;
          }
          & + p {
            font: 1.6rem/180% "NotoSansKR";
            .like_btn_label {
              display: block;
              height: 50px;
              line-height: 50px;
              font: bold 20px/2.5 "NotoSansKR";
              cursor: pointer;
            }
            .info {
              display: inline-block;
              width: 30px;
              position: absolute;
              left: 215px;
              bottom: 60px;
              cursor: pointer;
            }
          }
        }
      }
      
    }
  }
}
.section-comment {
  width: 60%;
  position: relative;
  padding-left: 0px;
  padding-top: 1%;
  display: block;
  margin: auto;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 200px;
  @media (max-width: 700px) {
    width: 100%;
  }
}