@import './var.scss';
.gl-wrap {
  position: relative;
  width: 100%;
  min-width: 360px;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 150px;
  padding: 25px 0;
  overflow-x: hidden;
  &.gl-comment {
    margin-top: 90px;
  }
  filter: drop-shadow(2px 4px 6px $-c-black);
  .gl-wrap__inner {
    position: relative;
    max-width: 1200px;
    margin: auto;
    border-radius: 24px;
    background: #e1d0c9;
    border: 2px solid grey;
    &::before {
      content: '';
      position: absolute;
      display: block;
      z-index: -1;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 25px solid #acd2dd;
      border-radius: 42px;
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      z-index: -1;
      width: calc(100% + 16px);
      height: calc(100% + 16px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 2px dashed #fff;
      border-radius: 35px;
    }
    
  }
  .profile {
    max-width: 800px;
    margin: auto;
    margin-top: 65px;
    padding: 20px 20px 20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 20px;
    background: #f2f2f2;
    border: 4px solid lightgrey;
    position: relative;
    z-index: 1;
    @media (max-width: 800px) {
      padding: 20px 20px 20px 20px;
      justify-content: center;
    }
    &::before {
      content: '';
      position: absolute;
      display: block;
      z-index: -1;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid #fff;
      border-radius: 20px;
    }
    .profile-img {
      a {
        display: block;
        width: 130px;
        height: 130px;
        img {
          display: block;
          width: 100%;
          border-radius: 50%;
        }
      }
    }
    .profile-script {
      padding: 20px 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      h2 {
        width: 100%;
        font-size: 24px;
        font-weight: 900;
      }
      p {
        width: 100%;
      }
    }
  }
}
// 방명록
.gl-ui-main {
  padding: 10px 10px 10px 10px;
  img {
    display: inline-block;
    width: 100%;
  }
  > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .gl-ui-left {
      width: 300px;
      .statistics-area {
        p {
          font-size: 10px;
          line-height: 1;
          height: 10px;
          text-align: center;
          margin: 25px auto 10px;
          span {
            padding: 0 2px;
            &.today {
              color: #ff0000;
            }
          }
        }
      }
      .box {
        // .photo-area {
        //   img {

        //   }
        // }
        .my-word-area {
          border-top: 2px dotted gray;
          border-bottom: 2px dotted gray;
          margin-top: 20px;
          margin-bottom: 20px;
          h2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3px 18px;
            border-radius: 4px;
            border: 2px solid lightgray;
            margin-top: 5px;
            .today-is {
              color: #0790e0;
              font-weight: 900;
              font-size: 12px;
            }
            > div {
              display: flex;
              align-items: center;
              .icon {
                width: 20px;
                display: inline-flex;
                align-items: center;
              }
              .word {
                font-size: 14px;
                padding-left: 6px;
              }
            }
          }
          p {
            white-space: pre-line;
            margin: 5px auto 0;
            font-size: 15px;
            height: 150px;
            overflow-y: scroll;
          }
        }
      }
    }
    .gl-ui-right {
      width: calc(100% - 320px);
      h2 {
        font-size: 20px;
        line-height: 1;
        height: 20px;
        margin: 15px auto 10px;
        font-weight: 700;
        color: #542200;
        cursor: pointer;
      }
      .box {
        max-height: calc(100vh - 352px);
        min-height: 500px;
        overflow: scroll;
        overscroll-behavior: none;
        scroll-behavior: smooth;
        @media(max-width: $breakPoint) {
          overscroll-behavior: auto;
        }
        .comment-create-area {
          background: #eeeeee;
          padding: 12px 10px 3px;
          border-top: 2px solid #d8d8d8;
          border-bottom: 2px solid #d8d8d8;
          .comment-create-area__main {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .minimi {
              width: 150px;
              height: 150px;
              border: 1px solid #eee;
              &.no-member {
                position: relative;
                img {
                  filter: brightness(0.5);
                }
                .no-member-form {
                  position: absolute;
                  width: 150px;
                  height: 150px;
                  top: 0;
                  left: 0;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  align-content: space-around;
                  @media(max-width: $breakPoint) {
                    width: 120px;
                    height: 120px;
                  }
                  > div {
                    text-align: center;
                    input {
                      display: inline-block;
                      width: calc(100% - 10px);
                      margin: auto;
                    }
                  }
                }
              }
              img {
                width: 148px;
                height: 148px;
              }
              @media(max-width: $breakPoint) {
                width: 120px;
                height: 120px;
                img {
                  width: 118px;
                  height: 118px;
                }
              }
            }
            .create-text {
              width: calc(100% - 170px);
              @media(max-width: $breakPoint) {
                width: calc(100% - 140px);
              }
              textarea {
                width: 100%;
                max-width: 100%;
                height: 150px;
                resize: none;
                overscroll-behavior: none;
              }
            }
          }
          .radio-area {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-top: 5px;
            button {
              font-size: 14px;
              padding: 2px 4px 3px;
              border-radius: 3px;
              background: #fff;
              border: 1px solid gray;
            }
             div {
              .submit-button {
                margin-left: 10px;
              }
             }
          }
        }
        .comment-list-area {
          margin-top: 30px;
          .comment-list {
            .comment-title-area {
              display: flex;
              justify-content: space-between;
              align-items: center;
              background: #eee;
              border-top: 2px solid #d8d8d8;
              padding: 3px 10px 4px;
              position: relative;
              &.is-secret {
                background: #fff1d7;
                border-top: 2px solid #d3bfa4;
              }
              > div {
                font-size: 10px;
                line-height: 18px;
                color: gray;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                > span, > a, > button {
                  padding: 0 3px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-wrap: wrap;
                  @media(max-width: $breakPoint) {
                    padding: 0 2px;
                  }
                }
                .comment-title-name {
                  font-size: 13px;
                  &.is-button {
                    color: #004dd2;
                  }
                }
                .home-icon {
                  // display: inline-block;
                  width: 20px;
                  height: 18px;
                }
                .comment-edit {
                  button {

                  }
                  .super-delete-button {
                    text-align: right;
                    position: absolute;
                    width: 100px;
                    right: 0;
                    top: -20px;
                  }
                }
              }
            }
            .comment-content-area {
              padding: 13px 8px;
              display: flex;
              justify-content: space-between;
              button {
                width: 150px;
                height: 150px;
                border: 1px solid lightgray;
                img {
                  width: 100%;
                  height: 100%;
                }
                @media(max-width: $breakPoint) {
                  width: 100px;
                  height: 100px;
                }
              }
              p, textarea {
                width: calc(100% - 170px);
                min-height: 150px;
                max-height: 300px;
                font-size: 15px;
                padding: 3px 5px;
                margin-left: 10px;
                overflow-y: scroll;
                white-space: pre-line;
                @media(max-width: $breakPoint) {
                  width: calc(100% - 120px);
                }
              }
              p {
                .is-secret-comment {
                  padding-left: 15px;
                  position: relative;
                  display: block;
                  font-size: 10px;
                  color: #c6a24a;
                  > b {
                    color: #ab793c;
                  }
                  &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 12px;
                    height: 13px;
                    z-index: 1;
                    background: url('/images/icon/lock.webp');
                    background-size: cover;
                  }
                }
              }
            }
            &:not(:first-of-type) {
              margin-top: 30px;
            }
          }
          .comment-rep {
            background: #eee;
            padding: 2px 10px;
            &.comment-rep-first {
              padding: 7px 10px 2px;
            }
            &.comment-rep-last {
              padding: 2px 10px 15px;
            }
            &.comment-rep-first.comment-rep-last {
              padding: 6px 10px 8px;
            }
            > p {
              line-height: 24px;
              > span, > button {
                display: inline-block;
                font-size: 10px;
                line-height: 24px;
              }
              .rep-name {
                font-size: 12px;
                &.is-member {
                  color: #004dd2;
                }
              }
              .edit_area {
                height: 24px;
                vertical-align: middle;
                font-size: 12px;
                resize: none;
              }
              .rep-edit, .rep-delete {
                margin-left: 3px;
                width: 12px;
              }
              button:not(:first-of-type) {
                
              }
              .rep-edit-cancel {
                width: 20px;
              }
              .rep-edit-complete {
                width: 42px;
              }
            }
          }
          .comment-rep-create {
            display: flex;
            flex-wrap: wrap;
            background: #eee;
            padding: 8px 7px;
            align-items: center;
            textarea {
              width: calc(100% - 70px);
              resize: none;
              height: 50px;
              border: 1px solid lightgray;
            }
            .submit-box {
              display: flex;
              flex-wrap: wrap;
              width: 68px;
              > div {
                display: flex;
                align-items: center;
                justify-content: center;
                label {
                  font-size: 12px;
                }
              }
              
              button {
                width: 40px;
                height: 27px;
                margin: 5px 10px 0px 10px;
                font-size: 14px;
                padding: 2px 4px 3px;
                border-radius: 3px;
                background: #fff;
                border: 1px solid gray;
              }
            }
            &.not-memeber {
              textarea {
                width: calc(100% - 180px);
                margin-left: 10px;
              }
              button {
                width: 100px;
                margin-left: 20px;
              }
              .info-area {
                width: 100px;
                @media(max-width: $breakPoint) {
                  width: 50px;
                }
                input {
                  width: 100%;
                  border: 1px solid lightgray;
                  &:nth-of-type(2) {
                    margin-top: 4px;
                  }
                }
              }
            }
          }
        }
      }
    }
   
    @media (max-width:850px) {
      .gl-ui-left, .gl-ui-right {
        width: 100%;
      }
    }
    .box {
      padding: 20px;
      border-radius: 10px;
      border: 1px solid gray;
      background: #fff;
    }
  }
}